<% @crimes.each_with_index do |crime, index|  %>

<div>
<h1><%= "#{index}. #{crime.description}" %></h1>
<h3><%= Time.at(crime.date.to_i).month %>-<%= Time.at(crime.date.to_i).day %>-<%= Time.at(crime.date.to_i).year %></h3>

<br>

</div>
<% end %>