

<div class="container">
<div class="chart" id="graph1"></div>
<div class="chart" id="graph2" style="display:none;"></div>
<div class="chart" id="graph3" style="display:none;"></div>
</div>



<script src="/js/graphs.js"></script>