<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOhsSINpmZ2YUv2J0zanNMJjC82ZSoy7A"></script>
  </head>


  <body>
    <div class="title"><h1>crimes SF</h1></div>
    <div id="map-canvas"></div>
  </body>


