<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOhsSINpmZ2YUv2J0zanNMJjC82ZSoy7A"></script>
   <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
  </head>





    <div class="container">
      <<!-- div><h4><a href="#">points</a></h4><h4><a href="#">heat</a></h4></div> -->
    <div id="map-canvas"></div>
    </div>

  <script src="/js/application.js"></script>


