<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOhsSINpmZ2YUv2J0zanNMJjC82ZSoy7A"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
</head>

<div class="container">
  <div class="settings">
    <div class="setting-nav"><h2>settings</h2></div>
    <div class="setting-body">
    <table>
    <tr> <td></td></tr>
    <tr> <td></td></tr>
    <tr> <td></td></tr>
    <tr> <td></td></tr>

    <tr> <td></td></tr>
    <tr>
      <td>City</td>
    <form action="/map/router" id="settings">
      <td><select name="citylist" form="settings"><option value="sf">San Francisco</option>
        <option value="chicago">Chicago</option><option value="seattle">Seattle</option></select></td>
    </tr>
    <tr> <td></td></tr>
     <tr>
      <td>Time Range (days)</td>
      <td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="mapTime" value="week" form="settings"> 7
         &nbsp;<input type="radio" name="mapTime" value="month" form="settings"> 30</td>
    </tr>
    <tr> <td></td></tr>
    <tr>
      <td>Map Type</td>
      <td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="mapType" value="points" form="settings"> Points
         &nbsp;<input type="radio" name="mapType" value="heat" form="settings"> Heat</td>
    </tr>
    <tr> <td></td></tr>
     </table>
  <br><br>
  <center><input type="submit" class="myButton" value="submit"></center>
  </form>
</div>
</div>
<div id="map-canvas"></div>
</div>

<script src="/js/month_map_points.js"></script>
